<div class="banner">
  <div class="navbar">
    <img src="img/logo.png" class="logo" alt="">
    <ul>
      <li><a href="http://localhost:8081/index">Home</a></li>
      <li><a href="http://localhost:8081/plant">Plants</a></li>
      <li><a href="http://localhost:8081/pot">Pots</a></li>
      <li><a href="http://localhost:8081/offers">Offers</a></li>
      <li><a href="http://localhost:8081/tropical">Tropical</a></li>
      <li><a href="http://localhost:8081/contact">Contact</a></li>
    </ul>
  </div>
</div>