<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/25025a8b99.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" crossorigin="anonymous"></script>
</head>

<body>
<style>
    .footer {
        position: relative;

    }
</style>
<section class="footer">
    <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fas fa-envelope" aria-hidden="true"></i></a>
    </div>
    <div class="footer-list">
    <ul class="list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Privacy policy</a></li>
        <ul><p class="copyright"> Future coders @ Andrei</p></ul>
    </ul>
    </div>
</section>
</body>
</html>