<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
    <link rel="stylesheet" href="css/index.css">
    <title>THis is homePage</title>
</head>
    <meta charset="UTF-8"/>
<div th:replace="fragments/navbar"></div>
<body class="body">
<div class="banner">
    <div class="index-text">
        <p>     I'm Andrei and I own Isla Verde. In store, we focus on providing beautiful and more unusual houseplants.
            It's really important to provide as much information as we can about the plants so that customers feel confident taking
            a plant home and nurturing it. We hold plant themed creative workshops in and around the Bath and From area.
            We also offer personal houseplant consultations to homes and offices on which houseplants will work well in a space.
            These consultations also consider a buyer's lifestyle and commitment in choosing plants that will really suit them.
        </p>
        <p>
            Most plants aren't provided with the information needed to know how to keep them happy, (some don't even tell you the name of the plant!),
        and each plant has its own likes and dislikes. If a plant thrives in full sun and is taken home and placed on a dark mantelpiece it is likely
        to eventually die. It's vital to us to educate about individual plant care to avoid this throw away culture. This is why each plant we sell
        comes with its own care card giving information on light, temperature, watering, humidity levels, feed, propagation and reporting.
        We regularly post helpful hints and tips for individual and seasonal plant care on our Instagram feed.
        </p>

        <p>
            Having houseplants to nurture definitely contributes to wellness.
        Nurturing and caring for a plant gives a real sense of purpose, routine, positivity and satisfaction.
        Today's busy world is focused around so many screens and so much technology, that it's refreshing and grounding to bring
        nature permanently into our homes. There's also the health benefits of air purifying plants. Indoor air can be stale and full of pollutants.
        Plants help to clean our air of these toxins. This purification helps with asthma, headaches, coughs, stress levels and fatigue,
        and leads to a better nights sleep.
        </p>
    </div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>