*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.flower-pot {
    background-image: url(../img/plants/animated-plant.gif) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
}

