*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #327738;
  height: auto;
  padding-top: 40px;
  width: 100vw;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}



.social{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.social li{
  margin: 0 10px;
}

.social li a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 8px;
  border-radius: 50%;
  width: 35px;
}

.footer-menu{
  margin-bottom: 20px;
}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  border: 1.3px solid white;
  padding: 6px 15px;
  border-radius: 50px;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #27bcda;

}