*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg-img{
    background-image: url(../img/flower_pot_background.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
