<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/card.css">
    <div th:replace="fragments/navbar"></div>


</head>
<body>
<!--<div class="card">-->
<!--    <img src="img/rubber.png" alt="Denim Jeans" style="width:100%">-->
<!--    <h1>Rubber Tree</h1>-->
<!--    <p class="price">$19.99</p>-->
<!--    <p><button>Add to Cart</button></p>-->
<!--</div>-->
<div class="row">
    <div class="column">
        <div class="card">
            <img src="img/plants/rubber.png" alt="Denim Jeans" style="width:100%">
            <h1>Rubber Tree</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="img//plants/rubber.png" alt="Denim Jeans" style="width:100%">
            <h1>Rubber Tree</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="img/plants/mimosa-pudica-1.jpg" alt="Mimosa Pudica" style="width:100%">
            <h1>Mimosa Pudica</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="img/plants/rubber.png" alt="Rubber Plant" style="width:100%">
            <h1>Rubber Tree</h1>
            <p class="price">$19.99</p>
            <p><button>Add to Cart</button></p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>